.text-orange {
  color: #f69046;
}
.text-yellow {
  color: #f9eb2b;
}
.text-red {
  color: #f13385;
}
.red-background {
  background-color: #f13385;
  color: #fff;
}
.yellow-background {
  background-color: #f9eb2b;
  color: #fff;
}
.orange-background {
  background-color: #f69046;
  color: #fff;
}
.label-color {
  font-weight: 500;
  color: #fff !important;
  background-color: #00bcd4;
  border-radius: 2px !important;
  font-size: 16px !important;
}
.text-gray {
  color: #a7afb8;
}
.text-dark-gray {
  color: #34495e;
}
.standard-background {
  background-color: #1e9bc7;
}
.secondary-background {
  background-color: #f13385;
}
.text-sec-color {
  color: #fff;
}
.text-black {
  color: #000;
}
.text-stand-color {
  color: #1e9bc7;
}
.waves-effect.waves-standard .waves-ripple {
/* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: rgba(30,155,199,0.65);
}
button.standard-background:hover,
a.standard-background:hover {
  background-color: #156d8b;
}
body {
  background-color: #f5f5f5;
}
.full-screen-height {
  height: 100vh;
}
.container.custom {
  min-height: 100vh;
}
.no-background {
  background-color: transparent;
}
.small-buttons {
  padding: 0 0.5em;
}
.inline-icon {
  vertical-align: bottom;
  font-size: 20px !important;
}
div.modal div.ng2-dropdown-menu[style] {
  top: auto !important;
  left: auto !important;
  margin-top: -24px !important;
}
.ui-front {
  z-index: 1001 !important;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flex-row .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-column .reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.flex-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex-margin-bottom-auto {
  margin-bottom: auto;
}
.flex-margin-top-auto {
  margin-top: auto;
}
.flex-align-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.flex-align-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.login-header {
  height: 20vh;
}
.login-logo {
  height: 8em !important;
}
.logo-wrapper {
  height: 30vh;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .login-header {
    height: 5vh;
  }
  .logo-wrapper {
    height: 20vh;
  }
}
.side-navbar-kyc {
  position: absolute;
  top: 64px;
  background: -webkit-gradient(linear, left top, right top, from(#1e9bc7), color-stop(50%, #1e9bc7), color-stop(50%, #156d8b), to(#156d8b));
  background: linear-gradient(to right, #1e9bc7 0%, #1e9bc7 50%, #156d8b 50%, #156d8b 100%);
  height: 95vh;
  display: none;
  margin: 0 !important;
  padding: 0 !important;
}
.sidebar-content {
  margin-top: 4em;
  padding: 0 1em;
}
