.flex
  display flex

.flex-center
  align-items center
  justify-content center

.flex-row
  flex-direction row
  .reverse
    flex-direction row-reverse

.flex-column
  flex-direction column
  .reverse
    flex-direction column-reverse

.flex-space-between
  justify-content space-between

.flex-space-around
  justify-content space-around

.flex-margin-bottom-auto
  margin-bottom auto

.flex-margin-top-auto
  margin-top auto

.flex-align-right
  align-items flex-end

.flex-align-left
  align-items flex-start