body
  background-color #f5f5f5

.full-screen-height
  height 100vh

.container.custom
  min-height 100vh

.no-background
  background-color transparent

.small-buttons
  padding 0 .5em

.inline-icon
  vertical-align: bottom;
  font-size: 20px !important;

div.modal div.ng2-dropdown-menu[style] {
  top: auto !important;
  left: auto !important;
  margin-top: -24px !important;
}

.ui-front
  z-index 1001 !important
