.login-header
  height 20vh

.login-logo
  height 8em !important

.logo-wrapper
  height 30vh

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  .login-header
    height 5vh

  .logo-wrapper
    height 20vh