.side-navbar-kyc
  position absolute
  top 64px
  background linear-gradient(
          to right,
          standard-color 0%,
          standard-color 50%,
          second-standard-color 50%,
          second-standard-color 100%
  )
  height 95vh
  //width 15vw

  display none
  margin 0 !important
  padding 0 !important

.sidebar-content
  margin-top 4em
  padding 0 1em


